<div class="login-container">
  <h2 class="title">Iniciar Sesión</h2>
  <form (ngSubmit)="login()">
    <div class="form-group">
      <label for="username">Usuario:</label>
      <input
        id="username"
        type="text"
        [(ngModel)]="credentials.username"
        name="username"
        required
      />
    </div>
    <div class="form-group">
      <label for="password">Contraseña:</label>
      <input
        id="password"
        type="password"
        [(ngModel)]="credentials.password"
        name="password"
        required
      />
    </div>
    <button type="submit" class="btn-login" [disabled]="loading">
      {{ loading ? "Cargando..." : "Ingresar" }}
    </button>
  </form>

  <div class="login-response" *ngIf="errorMessage">
    <p class="error-message">{{ errorMessage }}</p>
  </div>
</div>
